.Menu{
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 95vw;
    text-align: center;
}
.Menu h1{
    font-size: 4rem;
    color: rgb(20, 49, 11);
    text-align: center;
}
